body {
  margin: 0;
  font-family: 'Minecraft';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://wallpaperaccess.com/full/8045532.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'Minecraft';
  src: url('./Minecraft.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
